//-----------------------------------------------------------------------------
// src/scss/globals.scss
//-----------------------------------------------------------------------------

$font-family-sans-serif:  "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";

$lighter-green:         #86C232 !default;
$darker-green:          #61892F !default;
$darker-black:          #222629 !default;
$darker-gray:           #474B4F !default;
$lighter-gray:          #6B6E70 !default;

$white:                 #ffffff !default;
$gray-100:              #f8f9fa !default;
$gray-200:              #e9ecef !default;
$gray-300:              #dee2e6 !default;
$border:                #CCCCCC !default;
